/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.about-matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.about-matrix__title {
  height: 0px;
  width: 0px;
  margin: 0px;
}
.about-matrix__img {
  width: 100%;
}
.about-matrix__inf {
  font-family: fantasy, cursive;
}
@media (max-width:768px) {
  .about-matrix {
    text-align: center;
  }
}
/* ----------------------------------------section matrix-control---------------------- */
.matrix-control {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.matrix-control__title {
  height: 0px;
  width: 0px;
  margin: 0px;
}
/* --------------------------------------section matrix-add------------------------------ */
.matrix-add__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
  display: block;
  margin: 0 0 20px;
}
.matrix-add__input-container {
  display: flex;
}
.matrix-add__input {
  outline: none;
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  width: 318px;
}
.matrix-add__input:focus {
  color: #333;
}
.matrix-add__btn {
  outline: none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.matrix-add__btn:hover {
  color: #3a3A3a;
}

/*------------------------------------section matrix-todo------------------------------------------------------------*/
.matrix-todo__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.matrix-todo__incompl-list {
  margin: 0;
  padding: 0px;
}
.matrix-item {
  list-style: none;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}
.matrix-item__check-input {
  outline: none;
  margin: 0 10px;
}
.matrix-item__label{
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.matrix-item__input {
  display: none;
  outline: none;
  width: 56%;
  flex-grow: 1;

  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  
  width: 226px;
}
.matrix-item__input:focus {
  color: #333;
}

.matrix-item__edit-btn {
  outline: none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;

}
.matrix-item__edit-btn:hover {
  color: #3a3A3a;
}

.matrix-item__delete-btn {
  outline: none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;

}
.matrix-item__delete-btn:hover {
  color: #3a3A3a;
}

.matrix-item__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.matrix-item__delete-img:hover {
  transform: rotateZ(0);
}

/* ------------------------------------------Shopping пропадает и все сдвигается---*/
.matrix-item__label--edit {
  display: none;
}
/*-----------------------------------------------------*/

.matrix-item__input--edit {
  display: inline-block;
  width: 224px;  
}

/*--------------------------------------Section matrix-completed-----------------------------------------------------*/
.matrix-completed__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.matrix-completed__list {
  margin: 0;
  padding: 0px;
}
.matrix-item__label--strikethrough {
  text-decoration: line-through;
  color: #888;
}

  

/*
.matrix-completed__item{
  list-style: none;

  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;

  vertical-align: middle;
}
.matrix-completed__check-input {
  outline: none;
  margin: 0 10px;
}
.matrix-completed__label{
  width: 56%;
  display: inline-block;
  flex-grow: 1;

  text-decoration: line-through;
  color: #888;

  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}
.matrix-completed__input {
  
  width: 56%;
  display: none;
  flex-grow: 1;

  outline: none;

  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.matrix-completed__input:focus {
  color: #333;
}
.matrix-completed__edit-btn {
  outline: none;

  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.matrix-completed__edit-btn:hover {
  color: #3a3A3a;
}
.matrix-completed__delete-btn {
  outline: none;

  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.matrix-completed__delete-btn:hover {
  color: #3a3A3a;
}
.matrix-completed__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.matrix-completed__delete-img:hover {
  transform: rotateZ(0);
}










/*

.contorl-elements__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

ul {
  margin: 0;
  padding: 0px;
}
li,
h3 {
  list-style: none;
}
input,
button{
  outline: none;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #3a3A3a;
}
/* Heading */ /*
h3,
label[for="new-task"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
input[type="text"]:focus {
  color: #333;
}

/* New Task *//*
label[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}
input#new-task {
  width: 318px;
}

/* Task list *//*
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li > * {
  vertical-align: middle;
}

li > input[type="checkbox"] {
  margin: 0 10px;
}
li > label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
li >    input[type="text"] {
  width: 226px;
}
.control-elements__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.control-elements__delete-img:hover {
  transform: rotateZ(0);
}

/* Completed *//*
#completed label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task *//*
li input[type="text"] {
  display: none;
}

.control-elements__edit-mode input[type="text"] {
  display: inline-block;
  width: 224px;
}

.control-elements__edit-mode label {
  display: none;
}